.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.mainlogo {
  text-align: center;
  color: rgb(13, 177, 231);
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* SearchBar */
.searchBar{
  text-align: center;
}
.searchBar input{
  width: 300px;
}

/* Navigator */
nav {
  margin:20px;
  
}

.nav_container{
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 50%;
  /* margin: 50px; */
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-color: white;
  list-style-type: none;
}

  
.nav_item{
  padding: 10px;
  cursor: pointer;
}

.nav_item a{
  text-decoration: none;
  color: black;
}

/* AD_Slide */
.Advertisement{
  text-align: center;
}

/* AD_Fade */
.each-fade {
  display: flex;
  
  text-align: center;
}

.each-fade  img {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

/* .each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
} */